/*
Author: Tess Thomas
File Name: styles.css
*/

/* CSS Reset */
*  {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color:#545454;
}

img  {
  max-width: 100%; /* confirm this is necessary later */
}

/* Style rules for Mobile Viewport */

/* Style rules for Header */
header  {
  top: 0;
  padding: 10px;
  background: rgba(84, 84, 84, 0.25);
}

/* Style rules for Navigation */
nav  {
  padding: 1%;
}

nav ul  {
  list-style-type: none;
  text-align: center;
}

nav li  {
  font-size: 1.25em;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  border-top: 2px solid #A4640C;
}

li:first-child  {
  border-top: none;
}

nav li a  {
  display: block;
  text-decoration: none;
  color: #545454;
  padding: 0.5em 1em;
}

/* Style rules for Hero */
/* Revisit solution to text overlay if needed. Original image commented out in HTML */
.hero  {
  background-image: url("../images/hero-bike.jpg");
  background-color: #fff;
  height: 220px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hero h1, .hero h3, em  {
  color: #fff;
  text-shadow: 4px 4px 8px #000;
}

.hero h5 a  {
  text-decoration: none;
  font-weight: 400;
  background-color: rgba(164, 100, 12, 0.8);
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 5px;
  box-shadow: 4px 4px 8px #000;
}

/* Style rules for Main Content */
main  {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section:nth-of-type(2)  {
  background-color: rgba(84, 84, 84, 0.25);
}

section h3  {
  text-align: center;
  margin: 1em;
  font-size: 1.5em;
}

section img  {
  margin: 0 auto;
}

figcaption  {
  text-align: center;
  margin: 1.5em 1em;
}

/* Style rules for Footer */
footer  {
  background-color: #545454;
  text-align: center;
  padding: 15px;
  font-size: 0.75em;
  width: 100%;
  bottom: 0;
}

footer p  {
  color: #fff;
}

/* Style rules for Tablet Viewport */
@media screen and (min-width: 630px), print  {

  /* Tablet Viewport: Style rules for Header */
  header  {
    padding: 2%;
    display: flex;
    justify-content: center;
  }

  /* Tablet Viewport: Style rules for Navigation */
  nav li  {
    display: inline-block;
    padding: 1% 1.5%;
    border: none;
  }

  /* Tablet Viewport: Style rules for Navigation */
  .hero  {
    height: 375px;
    background-size: contain;
  }

  .hero h1  {
    font-size: 3em;
  }

  .hero h3  {
    font-size: 2em;
  }

  .hero h5  {
    font-size: 1.5em;
  }

  /* Tablet Viewport: Style rules for main content */
  /* PAUSING HERE 10/27 */
}

/* Style rules for Desktop Viewport */
@media screen and (min-width: 1015px), print  {

  /* Desktop Viewport: Style rules for header */

  /* Desktop Viewport: Style rules for hero?? do i need if same for tablet */

  /* Desktop Viewport: Style rules for nav */

  /* Desktop Viewport: Style rules for main content */
}

/* Style rules for Large Desktop Viewport */
@media screen and (min-width: 1921px)  {

  #container  {
    width: 1920px;
    margin: 0 auto;
  }

}