/*
Author: Tess Thomas
File Name: styles.css
*/

/* CSS Reset */
*  {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color:#545454;
}

/* Style rules for Mobile Viewport */
/* General style rules */
body  {
  background-color:#00874f0d;
}

img  {
  max-width: 100%;
  border-radius: 8px;
}

.tablet-desktop  {
  display: none;
}

/* Style rules for Header */
header  {
  top: 0;
  padding: 0;
  height: 8vh;
  background-color: #cacfcd;
  height: 10vh;
}

#logo  {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style rules for Navigation */
nav  {
  padding: 1%;
  margin-bottom: 0;
}

nav ul  {
  list-style-type: none;
  text-align: center;
}

nav li  {
  display: block;
  border-top: 3px solid #A4640C;
  width: 95%;
  margin: 0 auto;
}

li.mobile  {
  border-top: none;
}

nav li a  {
  display: block;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  color: #545454;
  padding: 0.5em 1em;
}

.dropdown  {
  display: none;
}

/* Style rules for Hero */
.hero  {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
}

.hero img  {
  border-radius: 0;
}

.hero h1, .hero h3, .hero h5  {
  position: absolute;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate( -50%, -50% );
}

.hero h1  {
  top: 20%;
}

.hero h3  {
  top: 50%;
}

.hero h5  {
  bottom: 15%;
}

.hero h1, .hero h3, em  {
  color: #fff;
  text-shadow: 4px 4px 8px #000;
}

.hero h5 a  {
  text-decoration: none;
  font-size: 1.25em;
  background-color: rgba(164, 100, 12, 0.8);
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 5px;
  box-shadow: 4px 4px 8px #000;
}

.hero h5 a:hover  {
  background-color: #A4640C;
}

/* Style rules for Main Content */
main.home  {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.about-image  {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
}

.mobile-heading  {
  position: absolute;
  left: 50%;
  top: 35%;
  width: 100%;
  text-align: center;
  transform: translate( -50%, -50% );
  font-size: 2.5em;
  color: #fff;
  text-shadow: 4px 4px 8px #000;
}

.about-container p  {
  margin: 1.5em 2.5%;
}

.about-container p:first-of-type  {
  text-indent: 0;
}

.about-container span  {
  font-size: 1.25em;
  font-weight: bold;
}

div.about-container > p > a  {
  text-decoration: none;
  font-weight: bold;
  border-bottom: 5px solid rgba(164, 100, 12, 0.6);
}

div.about-container > p > a:active  {
  color: #A4640C;
  border-bottom: 5px solid rgb(164, 100, 12);
}

section  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3vh 0;
}

.home section  {
  padding: 0;
}

.home section:nth-child(even)  {
  background-color: rgba(84, 84, 84, 0.25);
}

.shop section  {
  padding: 0;
}

.events > section:nth-child(odd), .shop > section:nth-child(odd)  {
  background-color: rgba(84, 84, 84, 0.25);
}

.shop h3  {
  font-size: 1.5em;
}

.shop span  {
  font-style: italic;
  font-weight: bold;
}

section h3  {
  text-align: center;
  margin: 1.5rem;
}

section h3 a  {
  text-decoration: none;
  font-size: 1.5em;
}

section h3 a:hover  {
  color: rgba(164, 100, 12, 0.8);
  border-bottom: solid 8px #A4640C;
}

figure  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
} 

figure img  {
  width: 80%;
  margin: 0 auto;
}

figcaption  {
  text-align: center;
  margin: 1.5em 1em;
  font-size: 1.2em;
}

figcaption a  {
  text-decoration: none;
  font-weight: bold;
}

.events h3  {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 auto 3vh;
}

.events section:last-of-type h3  {
  margin-top: 3vh;
}

.events span  {
  font-style: italic;
}

.events p, .events figcaption  {
  margin-bottom: 1vh;
}

.services section  {
  padding-bottom: 0;
}

.services section:last-of-type  {
  padding-bottom: 3vh;
}

.services figcaption  {
  text-align: left;
  margin: 0 10%;
}

.services li  {
  list-style-type: none;
  display: flex;
}

.services li span  {
  margin-left: auto;
}

.services h3  {
  margin: 1vh 0;
  text-align: left;
  border-bottom: 5px solid #A4640C;
}

/* Style rules for Form */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin-bottom: 2%;
  margin-left: 3%;
}

input, textarea, select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

form  {
  margin: 0 auto;
  width: 100%;
  padding: 3vh 0;
}

form h1  {
  text-align: center;
  max-width: 95%;
  margin: 0 auto 1%;
}

fieldset  {
  margin: 3vh auto;
  border: 2px solid #A4640C;
  border-radius: 5px;;
  width: 95%;
  padding: 0 2vh 2vh;
}

fieldset legend  {
  font-weight: bold;
  font-size: 1.5em;
  margin: 2% 3% 0 3%;
  padding: 0 1%;
}

label, .experience  {
  display: block;
}

label .experience  {
  margin-top: 1.5%;
}

.fname, .lname, .pronouns, .email, .class-select, .radio-box, .info, .interests, .experience-select  {
  margin: 2% auto 0 2%;
}

input, label + select, label + textarea  {
  border-radius: 5px;
  margin: 1.5% auto;
}

input[type="text"], input[type="email"], #moreinfo  {
  width: 75%;
}

.radio-box input[type="radio"], .interests input[type="checkbox"] {
  width: 15px;
}

.radio-box label, .interests label {
  display: inline-block;
}

.interests label  {
  width: 90%;
}

form #submit  {
  padding: 2%;
  text-align: center;
  display: block;
  width: 95%;
  margin: 2vh auto;
  background-color: rgba(164, 100, 12, 0.8);
  color: #fff;
  font-size: 1.25em;
  font-weight: bold;
}

form #submit:active, form #submit:hover  {
  background-color:rgb(164, 100, 12);
  cursor: pointer;
}

h2.back-home  {
  margin: 3% auto;
  text-align: center;
  font-size: 1.25em;
  width: fit-content;
}

.bottom-box a  {
  text-decoration: none;
}

/* Style rules for contact info and map */
#contact  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

#contact h2, #contact h3  {
  margin-bottom: 3%;
  margin-top: 3%;
}

#contact .tel-link a  {
  text-decoration: none;
  margin: 10% auto;
  background-color: rgba(164, 100, 12, 0.8);
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 5px;
  box-shadow: 4px 4px 8px #000;
}

a.contact-email-link   {
  text-decoration: none;
}

iframe.map  {
  max-width: 95%;
  margin: 0 auto;
  border: 3px solid #A4640C;
  border-radius: 5px;
  display: block;
}

/* Style rules for Footer */
footer  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #545454;
  padding: 1.25em;
  font-size: 0.75em;
  width: 100%;
  bottom: 0;
}

footer p  {
  color: #fff;
  width: 60%;
  font-size: 1.5em;
}

div .social-media  {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-media a  {
  margin: 0 10px;
}

/* Style rules for Tablet Viewport */
@media screen and (min-width: 768px), print  {

  /* Tablet Viewport: General styles */
  .mobile  {
    display: none;
  }

  .tablet  {
    display: inline-block;
  }

  body  {
    width: 100%;
  }

  /* Tablet Viewport: Style rules for header */
  header  {
    padding-left: 1%;
  }

  #logo  {
    display: flex;
    align-items: center;
    width: 25%;
    padding: 0;
    margin-left: 2.5%;
    flex: 1 1 auto;
  }

  /* Tablet Viewport: Style rules for navigation */
  .navbar  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    height: 12vh;
    top: 0;
    background-color: rgba(84, 84, 84, 0.25);
  }

  nav  {
    width: 70%;
  }

  nav ul  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  nav li  {
    border: none;
    display: inline-block;
  }

  nav li a  {
    font-size: 1.25em;
    text-align: right;
    padding: 0.5em;
  }
  
  nav li a:hover  {
    color: rgb(164, 100, 12);
  }

  /* Tablet Viewport: Style rules for hero */
  .hero h1  {
    font-size: 4em;
  }

  .hero h3  {
    font-size: 3em;
  }

  .hero h5  {
    font-size: 2em;
  }

  /* Tablet Viewport: Style rules for main content */
  main  {
    padding-bottom: 0 0 3vh;
    margin: 0 auto;
  }

  main.home, main.about  {
    padding: 0;
    margin: 3vh auto;
  }
  
  .tablet-desktop, .about-container  {
    display: block;
    max-width: 100%;
    margin: 0 2.5%;
    font-size: 1.25rem;
  }

  aside.tablet-desktop  {
    font-size: 1rem;
  }

  .tablet-desktop img  {
    width: 30%;
    float: left;
    margin: 0 2em 1em 0;
  }

  .tablet-desktop h3  {
    font-size: 1.75em;
    margin-bottom: 2%;
  }

  .tablet-desktop a  {
    text-decoration: none;
    border-bottom: solid 8px rgba(164, 100, 12, 0.6);
  }

  .tablet-desktop a:hover  {
    color: #A4640C;
    border-bottom: solid 8px #A4640C;
  }

  .tablet-desktop p  {
    margin-bottom: 1em;
    font-size: 1.25em;
  }

  .grid  {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
  }

  .grid section  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  section:nth-of-type(2)  {
    background-color: inherit;
  }

  .grid section h3  {
    margin: auto;
    display: block;
  }

  .grid section figure  {
    height: 85%;
    justify-content: flex-start;
    margin: 0 auto;
  }

  .home section:nth-child(even)  {
    background-color: transparent;
  }

  .events section:nth-child(odd), .shop section:nth-child(odd)  {
    background-color: transparent;
  }

  .events section:nth-child(even), .shop section:nth-child(even)  {
    background-color: rgba(84, 84, 84, 0.25);
  }

  .events section:last-of-type  {
    padding-bottom: 3vh;
  }

  div.about-image  {
    width: 40%;
    float: left;
    margin: 0 2em 0 0;
  }

  .mobile-heading  {
    display: none;
  }

  h2.tablet-desktop  {
    font-size: 2em;
    margin-bottom: 2%;
    font-style: italic;
  }

  .about-container p  {
    margin: 0 auto 1em;
    font-size: 1.25em;
  }

  aside.tablet-desktop  {
    display: flex;
    width: 90%;
    align-items: center;
    margin: 3rem auto 0 0;
  }

  aside.tablet-desktop p, aside.tablet-desktop h3  {
    margin: 0 auto 0 0;
    flex: 1 1 auto;
  }

  #logo  {
    background-color: transparent;
  }
  
  section  {
    padding: 3vh 0;
  }

  figcaption  {
    width: 80%;
    align-self: center;
  }

  /* Tablet Viewport: Style rules for form */
  #form h1  {
    border-bottom: 3px solid #A4640C;
    width: fit-content;
    padding-bottom: 1%;
  }
  
  fieldset  {
    border: 3px solid #A4640C;
  }

  input#fname, input#lname, select#pronouns, input#email, select#experience, select#class, textarea  {
    border: 0.75px solid #545454;
  }
  
  div label, .experience  {
    font-size: 1.25em;
  }

  div input, select  {
    font-size: 1.25em;
    padding: 0.5%;
  }

  .interests p  {
    font-size: 1.25em;
  }

  .interests label  {
    width: 95%;
  }

  /* Tablet Viewport: Style rules for contact */
  #contact h2, #contact h3  {
    margin: 1% auto;
  }

  div#contact  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin: 0 2.5% 4vh;
  }

  #contact h2  {
    border-bottom: 3px solid #A4640C;
    width: 65%;
    margin-left: 0;
  }

  /* Tablet Viewport: Style rules for footer */
  footer  {
    margin-bottom: 0;
    height: 12vh;
  }

  footer > p  {
    margin-left: 2.5%;
  }

  div.social-media  {
    width: 15%;
    margin-right: 2.5%;
  }

}

/* Style rules for Desktop Viewport */
@media screen and (min-width: 1015px), print  {

  /* Desktop Viewport: Style rules for header */
  header img:hover  {
    border-bottom: 5px solid #A4640C;
  }

  header > a  {
    cursor: pointer;
  }

  /* Desktop Viewport: Style rules for nav */
  .tablet  {
    display: none;
  }

  div.navbar  {
    background-color:#cacfcd;
    height: 10vh;
  }

  nav li a, nav li a.droplink  {
    font-size: 1.5em;
    text-align: center;
    border-left: 5px solid #A4640C;
  }

  a.droplink:first-child  {
    border-left: none;
  }
  
  /* Desktop Viewport: Style rules for dropdown menu */
  .dropdown  {
    position: relative;
    display: inline-block;
    min-width: 20%;
  }

  .dropdown-content  {
    display: none;
    position: absolute;
    background-color: #cacfcd;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 1;
  }

  .dropdown .droplink  {
    font-size: 1.5em;
    font-weight: bold;
    color: #545454;
    margin: 0;
    padding: 0.5em;
  }

  .navbar a:hover, .dropdown:hover .droplink  {
    color: #A4640C;
  }

  .dropdown-content a  {
    float: none;
    color: #545454;
    padding: 0.5em 1em;
    font-size: 1.25em;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover  {
    color: #A4640C;
    border-bottom: 5px solid #A4640C;
  }

  .dropdown:hover .dropdown-content  {
    display: block;
  }

  /* Desktop Viewport: Style rules for hero */
  .hero h1  {
    font-size: 5em;
  }

  .hero h2  {
    font-size: 4em;
  }

  /* Desktop Viewport: Style rules for main content */
  body  {
    background-color: #00874f0d;
  }
  
  main  {
    margin: 0 auto;
    padding: 0;
  }

  div.about-container > p > a:hover  {
    color: #A4640C;
    border-bottom: 5px solid #A4640C;
  }

  aside.tablet-desktop  {
    width: 70%;
    margin: 3em auto 0 0;
  }

  aside.tablet-desktop p  {
    margin: 0 1em;
  }

  figcaption a:hover  {
    color:rgba(164, 100, 12, 0.8);
  }

  /* Desktop Viewport: Style rules for Events main */

  .events section:nth-child(even)  {
    background-color: transparent;
  }

  .events img  {
    min-width: 95%;
  }

  .events figcaption  {
    min-width: 95%;
    text-align: center;
    margin: 2vh auto;
  }

  .events  {
    display: grid;
    grid-template: 1fr 0.75fr / repeat(3, 1fr);
    justify-items: center;
    align-items: start;
    margin: 0 2.5%;
  }

  .events section  {
    width: 95%;
    margin: 0;
    padding-bottom: 0;
  }

  .events section h3  {
    padding-top: 1vh;
  }

  .events section:last-of-type h3  {
    padding-top: 1vh;
    margin-top: 0;
  }

  .events p  {
    font-size: 1.25em;
  }

  /* Desktop Viewport: Style rules for form */
  form h1  {
    border-bottom: 5px solid #A4640C;
    width: fit-content;
    padding-bottom: 1%;
  }

  input  {
    margin: 0.5% auto;
  }

  .radio-box label  {
    margin: 0.25em 0.5em;
  }

  form #submit  {
    width: 25%;
    margin-left: 2.5%;
  }

  .bottom-box  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bottom-box a  {
    margin-right: 2.5%;
    text-decoration: none;
  }

  .bottom-box a:hover  {
    border-bottom: 5px solid rgba(164, 100, 12, 0.8);
    cursor: pointer;
  }

  /* Desktop Viewport: Style rules for Contact main */
  

  .desktop-contact  {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  #contact .desktop-contact h2  {
    width: fit-content;
    border-bottom: 5px solid rgba(164, 100, 12, 0.8);
  }

  a.contact-email-link:hover  {
    border-bottom: 3px solid #A4640C;
    color: #A4640C;
  } 

  div.desktop-map  {
    width: 80%;
  }

  /* Desktop Viewport: Style rules for Shop main */
  #shop  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .item  {
    justify-self: center;
    align-self: start;
  }

  .item h3  {
    font-size: 1.5rem;
    font-weight: bold;
  }

  /* Desktop Viewport: Style rules for footer */
  footer  {
    display: flex;
    justify-content: space-between;
    height: 10vh;
  }

  .about-footer  {
    position: fixed;
  }

  footer p  {
    margin-left: 2.5%;
    font-size: 1.5rem;
  }

  .social-media a  {
    width: 15%;
    margin-right: 0;
  }
}

/* Style rules for Large Desktop Viewport */
@media screen and (min-width: 1921px)  {

  #page-container  {
    width: 1920px;
    margin: 0 auto;
  }

}